body {
    background-color:black;
    font-family: Cambria; 
}

.intestazione{
    border: 2px solid white;
    margin: 50px;
    position:relative;
}
.blocco1 {
    position: relative;
    width: 100%;
    height:auto;
    text-align: right;
}