body {
    background-color: rgb(53, 53, 53);
    border: 2px solid white;
    margin: 50px;
}

.intestazione{
    border: 2px solid white;
    margin: 50px;
    position:relative;
}
.blocco1 {
    position: relative;
    width: 100%;
    height:auto;
    text-align: center;
}